docker.enabled = false
conda.enabled = true

workflow {
    failOnIgnore = true
}

params {
    study_name             = null  
    study_accession        = null
    tool_config            = null
    convert_gvf_to_vcf_dir = null
    finder_script          = null 

    input_dir              = "${launchDir}/data_dir"
    output_dir             = "${launchDir}/output"
    assembly_dir           = "${launchDir}/assembly"

    clean_assembly_dir = "${params.output_dir}/clean_reference_sequences"
}

profiles {
    standard {
        process {
            executor = 'local'
            errorStrategy = 'ignore'
        }
    }
    hpc {
        process {
            executor = 'slurm'
            cpus   = 1
            memory = '8 GB'
            time   = '24 h'
            errorStrategy = 'ignore'
            withName: 'CONVERT_GVF_TO_VCF' {
                memory = '64 GB'
            }
            withName: 'VALIDATE_SUBMISSION|SUBMIT_TO_EVA' {
                memory = '16 GB'
            }
        }
    }
}

